.article {
  display: grid;
  grid-template-rows: auto 1fr auto auto auto auto;
  gap: 0.5rem;
  height: 100%;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.id {
  font-size: 0.8rem;
}

.description {
  font-size: 1rem;
}

.article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.article > div:not(:first-child) {
  border-top: 1px solid #ccc;
}

.article > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
