.button {
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  background: var(--blue);
  color: var(--white);
  border-radius: 0.2rem;
  font-size: 1rem;
  min-width: 10rem;
  width: 30%;
}

.button:hover {
  background: var(--hover);
}
