.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.headline {
  font-size: 3rem;
  font-family: var(--font-sans);
  text-align: center;
  font-weight: 400;
  margin: 0 0 1rem 0;
  line-height: 1.2;
}

.headline span {
  font-family: var(--font-serif);
}
