.headline {
  font-size: 4rem;
  font-family: var(--font-sans);
  text-align: left;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.headline span {
  font-family: var(--font-serif);
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.content {
  max-width: 600px;
}

.content p {
  max-width: 500px;
}

.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.form {
  background-color: var(--white);
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  width: 400px;
}

.label {
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  font-weight: 700;
  display: block;
  font-size: 1.2rem;
}

.label span {
  font-weight: 200;
  font-size: 0.9rem;
}

.form input {
  padding: 0.5rem;
  margin: 0.3rem 0;
  width: 15rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

.form input:valid {
  border-color: green;
}

.form input:focus {
  outline: var(--blue) solid 1px;
}

.form select:focus {
  outline: var(--blue) solid 1px;
}

.fieldset {
  margin: 0;
  padding: 0;
}

.label span {
  color: var(--dusty-blue);
}

.dropdown {
  font-size: 0.8rem;
  font-size: var(--font-sans);
}

.potentialBuyersWrapper {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px;
}

.form-control {
  padding: 0.5rem;
  width: 20%;
  min-width: 10rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}
