.headline {
  font-size: 3rem;
  font-family: var(--font-serif);
  text-align: left;
  font-weight: 400;
  margin: 0 0 2rem 0;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}
